body{
    background-color:white;}
.border{
    background-color:white;
    width:100%;
    height:80px;
    border-color:#f2f2f2;
}
input[type=search] {
    width: 33%;
    background-color: #f2f2f2;
    color: black;
    padding: 6px 15px 6px 80px;
    margin:-40px 20px 20px 210px;
    border: 1px solid  #ccc;
    border-radius: 4px;
    cursor: pointer;
}
input[type=password] {
    width: 70%;
    background-color: #f2f2f2;
    color: black;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button[type=Login] {
    width: 70%;
    background-color: DodgerBlue;
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.border2{
    background-color:#f2f2f2;
    width:100%;
    height:5000px;
    padding-top:5px;
    border-radius:px;
    margin:5px 2000px -5px px;
    border: 1px solid  #ccc;
}
#h1{
    font-style:Tommy Bahama ;
}
#img{
   
  border-radius: 4px;
  padding: 5px;
  width: 10%;
  margin:-1px 10px 1px 220px ;
}
#f{
   
    border-radius: 4px;
    padding: 10px;
    width: 25px;
    height:25px;
    margin:1px 10px 200px 160px;
    border-radius: 1px;
    background-color:Dodger
  }
a:link {
    text-decoration: none;
    color:DodgerBlue;
    font-weight:12px;
  
  }
  #hr {
    transform: rotate(90deg);
    width:2%;
    color:black;
    margin:-220px 10px 1px 200px;

    
 }
 
  #h {
  
    width:50%;
    color:black;
}
    
