body{
    background-color:#f2f2f2;
}
.border{
    background-color:white;
    width:380px;
    height:600px;
    border-color:#f2f2f2;
}
input[type=text] {
    width: 70%;
    background-color: #f2f2f2;
    color: black;
    padding: 10px 10px;
    margin: 4px 20px 1px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=email] {
    width: 70%;
    background-color: #f2f2f2;
    color: black;
    padding: 10px 10px;
    margin: 0px 20px 1px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=password] {
    width: 70%;
    background-color: #f2f2f2;
    color: black;
    padding: 10px 10px;
    margin: 5px 20px 1px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button[type=Login] {
    width: 70%;
    background-color: DodgerBlue;
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.border2{
    background-color:white;
    width:380px;
    height:60px;
    padding-top:5px;;
}
#h1{
    font-style:Tommy Bahama ;
}
#img{
   
  border-radius: 4px;
  padding: 5px;
  width: 200px;
}
#f{
   
    border-radius: 5px;
    padding: 2px;
    width: 20px;
    height:20px;
    margin:5px 10px -5px;
    border-radius: 1px;
    background-color:white;
    
  }
a:link {
    text-decoration: none;
    color:DodgerBlue;
    font-weight:12px;
  
  }
  h3{
      color:grey;
      padding:-10px 10px 20px;
  }
  #anchor{
    width: 20%;
    background-color: DodgerBlue;
    color: white;
    padding: 10px 40px 10px 35px;
    margin: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  p{
      color:grey;
  }